.main {
  height: 100%;
  width: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: white;
  padding: 25px;
}

.icon__outer {
  height: 150px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #6a76cb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 70px;
  height: 70px;
  position: relative;
}

.buttons {
  display: flex;
  column-gap: 20px;
}

.button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #e5e3e3;
  border-radius: 5px;
}

.button__icon {
  position: relative;
  height: 20px;
  width: 20px;
}

.file__info {
  display: flex;
  flex-direction: column;
  column-gap: 4px;
}

.file__info > h4 {
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  font-weight: 700;
}

.file__info > span {
  color: #a3a3a3;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.tag__item {
  font-size: 16px;
  padding: 10px 8px;
  background-color: #e5e3e3;
  border-radius: 4px;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}

.description {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
}

.description > h4 {
  font-size: 16px;
  font-weight: 600;
}

.description > p {
  margin: 0%;
  padding: 0%;
  color: #a3a3a3;
}

.details {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.details > h4 {
  font-size: 16px;
  font-weight: 600;
}

.detail__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail__box > span {
  color: #a3a3a3;
}

.bold {
  font-size: 16px;
  font-weight: 600;
}
