.outer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.files {
  flex-grow: 1;
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 35px;
  overflow: auto;
  overflow-y: scroll;
  background-color: #f6f6f6;
}

.files::-webkit-scrollbar {
  width: 5px;
}

.files::-webkit-scrollbar-button {
  display: none;
}

.files::-webkit-scrollbar-thumb {
  background-color: #757fc9;
}

.files::-webkit-scrollbar-track {
  background-color: #c8cceb;
}

.top__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header {
  margin: 0%;
  padding: 0%;
  font-size: 32px;
  font-weight: 700;
}

.display__mode {
  display: flex;
  column-gap: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  height: fit-content;
  border-radius: 30px;
}

.icon__container {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}

.icon {
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;
}

.icon2 {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
}

.file__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}
